/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
  background-color: var(--website-header-and-footer-background-color);
}

.header-container h1 {
  font-size: 1.75rem;
  font-weight: 600;
}

/* Navigation Container */
.navigation-container {
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

/* Main Container */
.main-container {
  display: flex;
  justify-content: center;
  height: 100dvh;
}

/* Footer Container */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2.5rem 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: var(--website-header-and-footer-background-color);
}

/* Page Title */
.page-title {
  font-size: 2.75rem;
}

/* About Page Container */
.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 3rem;
  width: 75dvw;
}

.about-page-container img {
  max-width: 16rem;
  border-radius: 25px;
}

.about-page-container p {
  text-align: justify;
  line-height: 1.5;
}
